* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

#div-1 {
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    padding: 20px;
}

nav li {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 150px;
    padding-top: 20px;
}

#logo {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
}

#menu {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

#div-1 h1, h5 {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}   

#div-1 h5 {
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 15px;
}

#div-1 h1 {
    font-size: 80px;
}

#div-1 > section > p {
    color: #b3b3b3;
    text-align: center;
}

#div-1 button {
    background-color: #28664A;
    border: none;
    color: #f2f2f2;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

#div-1 button:hover{
    background-color: #398d67;
    cursor: pointer;
}

#div-1 section {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#div-2 > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#div-2 h5{
    background-color: white;
    color: black;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    font-weight: 600;
}

#div-2 h2{
    font-size: 50px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

#div-2 > div p{
    color: #b3b3b3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.articles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 60px;
}

.articles article {
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    width: 640px;
}

.articles img{
    width: 600px;
    border-radius: 10px;
    margin: 20px 20px 20px 0px;
}

.articles h3{
    font-size: 25px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
#div-2 .articles p{
    text-align: left;
}

.articles button {
    background-color: #28664A;
    border: none;
    color: #f2f2f2;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

.articles button:hover{
    background-color: #398d67;
    cursor: pointer;
}

#div-3 > div article img {
    height: auto;
    width: 90px;
}

#div-3 {
    background-color: #111111;
    border-radius: 15px;
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-3 > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

#div-3 > article h5, h2 {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

#div-3 > article h5 {
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 15px;
}

#div-3 > article h2 {
    font-size: 50px;
}

#div-3 > article p {
    color: #b3b3b3;
    text-align: center; 
}

#div-3 > div article p {
    color: #b3b3b3;
    text-align: center; 
}

#div-3 > div article h6 {
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

#div-3 > div {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
}

#div-3 > div > area {
    display: flex;
}

.black {
    background-color: #1E1E1E;
}

.green{
    background-color: #28664A;
}

#div-3 > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

#div-3 > div > article h6 {
    font-size: 20px;
}

#div-3 > div > article img {
    margin-top: 15px;
    border-radius: 15px;
}

#div-3 > article img {
    margin-right: 180px;
}

#div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#div-4 > div {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 10px;
    padding: 80px;
}

#div-4 > div > #black-card {
    background-color: #181818;
}

#div-4 > div > #black-card .big-p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

#div-4 > div > #black-card .medium-p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

#div-4 > div > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
}

.medium-p, .big-p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
};

#div-4 > div > div .medium-p {
    font-size: 17px;
    font-weight: 400;
}

#div-4 > div > div .big-p {
    font-size: 45px;
}

.small-p {
    color: #b3b3b3;
    font-size: 18px;
}

#div-4 > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#div-4 > article h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

#div-4 > article p {
    color: #b3b3b3;
    text-align: center; 
    font-size: 18px;
}

#div-4 ul {
    margin-left: 15px;
}

#div-4 li {
    color: #b3b3b3;
}

#div-4 > div > div button {
    background-color: #28664A;
    border: none;
    color: #f2f2f2;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

#div-4 button:hover{
    background-color: #398d67;
    cursor: pointer;
}
